:root {
 
  
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: rgb(220, 49, 226);

}
html,body{
  position: relative;
  font-family: 'Orbitron', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  
}
p::first-letter {
  font-size: 20px;
  color:red
}
hr{
  background-color: black
}
.loader {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.ldBar path.baseline {
  stroke-width: 14;
  stroke: #f1f2f3;
  stroke-linecap: round;
  filter:url(#custom-shadow);
}
/* loading bar 容器 */
.ldBar {
  width: 300px !important;
  height: 300px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar {
  background: rgba(65, 135, 156, 0.4)!important;
  /* opacity: 0.8; */
  border: 1px solid rgb(227, 135, 235);
}
.nav-link {
  color: white !important;
}
.fab{
  color: white;
}
.title{
  color:white;
  font-weight: bold;
  line-height: 100vh;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(194, 49, 138);
}
.title h1,.road h1,.what h1,.participation h1,.benefits h1{
  font-family: 'Russo One', sans-serif;
  margin-bottom: 20px;
}
.top {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 50px;
  color:rgb(179, 179, 20);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 500;
}
.top a:visited {
  color: white;
}
#scroll {
  width: auto;
  height: auto;
  font-size: 30px;
  position: fixed;
  left: 50px;
  top: 50vh;
  display: flex;
  flex-direction: column;
  z-index: 500;
}

.download {
  width: 600px;
  height: auto;
  color: white;
  padding: 20px;
  background-color: rgba(44, 44, 44, 0.7);
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,0);
  box-shadow:
            0 0 .3rem #fff,
            inset 0 0 .3rem #fff,
            0 0 1rem var(--neon-border-color),
            inset 0 0 1rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color);
}

.contain {
  height: 100vh;
  width: 100vw;
  /* background-image: url(./images/1054256.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  position: relative;
}

.contain2 {
 /* background-color: black; */
 height: 100vh;
}
.parallax-window {
  min-height: 50vh;
  background: transparent;
}
.road {
  width: 45vw;
  height: 50vh ;
  padding: 50px;
  position: absolute;
  top: 50px;
  margin-left: 25px;
  transition: 1.5s;
  border: 5px solid white;
  outline: none;
  background-color: yellow;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: black;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.what {
  border: 5px solid white;
  width: 45vw;
  margin-right: 50px;
  height: 50vh;
  color: black;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  background-color: yellow;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  transform: rotateX(180deg);
  transition: 1.5s;
  text-transform: uppercase;

}
.what h1 {
  text-align: right;
}
.whatclass {
  transform: rotateX(180deg);
}


.container3 {
 /* background-color: rgb(109, 109, 109); */
 height: 100vh;
}
.participation {
  width: 45vw;
  height: 50vh ;
  padding: 50px;
  position: absolute;
  top: 50px;
  margin-left: 25px;
  transition: 1.5s;
  border: 5px solid white;
  outline: none;
  background-color: yellow;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: black;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.leftshadow {
  filter: drop-shadow(10px 10px 10px black);
  position: absolute;
  top: 50px;
  left: 0;
}
.benefits {
  border: 5px solid white;
  width: 45vw;
  margin-right: 50px;
  height: 50vh;
  color: black;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  background-color: yellow;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  transform: rotateX(180deg);
  transition: 1.5s;
  text-transform: uppercase;

}
.rightshadow {
  filter: drop-shadow(10px 10px 10px black);
  position: absolute;
  right: 0;
  bottom: 50px;
}
.benefits h1 {
  text-align: right;
}
.container4 {
 /* background-color:white; */
 height: 100vh;
}

.footer{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
}

.footer a{
  color: white;
}

.align-left {
  position: relative;
  left: -100%;
}
.align-right {
  position: relative ;
  right: -100%;
}
.active {
  position: relative;
  left: 0;
}
.active2 {
  position: relative ;
  right: 0 ;
}

/* section4 */
.my-augfiguration {
  width: 80vw;
  height: auto;
  padding: 50px;
  --aug-tr: 25px;
  --aug-bl: 57px;
  --aug-br: 25px;
  --aug-br-inset2: 40%;
  --aug-border-all: 10px;
  --aug-border-bg: linear-gradient(to botto...);
  --aug-inlay-all: 10px;
  --aug-inlay-bg:black;
  background: linear-gradient(#e731c9, #5199eb);
  opacity: 0.8;
  color:white;
  font-size:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.my-augfiguration::after{
  content: '';
  width: 450px;
  height: 150px;
  border: 5px solid white;
  background-color:white;
}
.my-augfiguration h1 {
  font-family: 'Russo One', sans-serif;
  margin-bottom: 40px;
  font-size: 50px;
}
.my-augfiguration p::first-letter {
  font-size: 30px;
  color: yellow;
}
.shadow {
 box-shadow: 10px 10px 10px black;
}





