html,body{
  position: relative;
  
  font-family: 'Orbitron', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  
}

.title{
  color:white;
  font-weight: bold;
  line-height: 100vh;
  text-align: center;
}
.title h1,.road h1,.what h1,.participation h1,.benefits h1{
  font-family: 'Russo One', sans-serif;
  margin-bottom: 50px;
}
.top {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 50px;
  color:rgb(179, 179, 20);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 500;
}
.top a:visited {
  color: white;
}
#scroll {
  width: auto;
  height: auto;
  font-size: 30px;
  position: fixed;
  left: 50px;
  top: 50vh;
  display: flex;
  flex-direction: column;
  z-index: 500;
}

.download {
  width: 500px;
  height: auto;
  color: white;
  padding: 40px;
  background-color: rgba(44, 44, 44, 0.7);
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,0);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.container-fluid{
  position: relative;
}

.contain {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/1054256.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contain2 {
 background-color: black;
 height: 100vh;
}
.road {
  width: 45vw;
  height: 50vh ;
  padding: 50px;
  position: absolute;
  top: 50px;
  margin-left: 50px;
  transition: 2s;
  border: 0;
  outline: none;
  background-color: yellow;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: black;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.what {
  border: 1px solid white;
  width: 45vw;
  margin-right: 50px;
  height: 50vh;
  color: black;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute!important;
  right: 0;
  bottom: 50px;
  background-color: yellow;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  transform: rotateX(180deg);
  transition: 2s;
}
.what h1 {
  text-align: right;
}
.whatclass {
  transform: rotateX(180deg);
}

.container3 {
 background-color: rgb(109, 109, 109);
 height: 100vh;
}
.participation {
  border: 1px solid white;
  width: 50vw;
  height: 50vh;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
.benefits {
  border: 1px solid white;
  width: 400px;
  height: auto;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  right: 500px;
}
.container4 {
 background-color:white;
 height: 100vh;
}
.require {
  border: 1px solid white;
  width: 100vw;
  height: 100vh;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  left: 500px;
}
.footer{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
}

.footer a{
  color: white;
}

.align-left {
  position: relative;
  left: -100%;
}
.align-right {
  position: relative ;
  right: -100%;
}
.active {
  position: relative;
  left: 0;
}
.active2 {
  position: relative ;
  right: 0 ;
}

/* border動畫 */






