html,body{
  position: relative;
  
  font-family: 'Orbitron', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.title{
  color:white;
  font-weight: bold;
  line-height: 100vh;
  text-align: center;
}
.title h1,.road h1,.what h1,.participation h1,.benefits h1{
  font-family: 'Russo One', sans-serif;
  margin-bottom: 50px;
}
.top {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 50px;
  color:rgb(179, 179, 20);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 500;
}
.top a:visited {
  color: white;
}
#scroll {
  width: auto;
  height: auto;
  font-size: 30px;
  position: fixed;
  left: 50px;
  top: 50vh;
  display: flex;
  flex-direction: column;
  z-index: 500;
}

.download {
  border: 1px solid white;
  width: 500px;
  height: auto;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}





.container-fluid{
  position: relative;
}

.contain {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/1054256.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contain2 {
 background-color: black;
 height: 100vh;
}
.road {
  border: 1px solid white;
  width: 50vw;
  height: 50vh;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
}
.what {
  border: 1px solid white;
  width: 50vw;
  height: 50vh;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.container3 {
 background-color: rgb(109, 109, 109);
 height: 100vh;
}
.participation {
  border: 1px solid white;
  width: 50vw;
  height: 50vh;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
.benefits {
  border: 1px solid white;
  width: 400px;
  height: auto;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  right: 500px;
}
.container4 {
 background-color:white;
 height: 100vh;
}
.require {
  border: 1px solid white;
  width: 100vw;
  height: 100vh;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  left: 500px;
}
.footer{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
}

.footer a{
  color: white;
}




