html,body{
  background-image: url(./images/1054256.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

.title{
  color:white;
  font-weight: bold;
  line-height: 100vh;
  text-align: center;
}
.title h1{
  font-family: 'Russo One', sans-serif;
}
.footer{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
}

.footer a{
  color: white;
}
.download {
  border: 1px solid white;
  width: 300px;
  height: auto;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.road {
  border: 1px solid white;
  width: 300px;
  height: auto;
  color: white;
  padding: 50px;
  background-color: rgba(44, 44, 44, 0.7);
}
.container-fluid{
  position: relative;
}



